body {
    background-color: black;
    color: #bb3930;
  }

  h1 {
    background-color: #bb3930;
    color: black;
    font-family: Courier;
    font-size: 20px;
  }

.content{
    background:black;
    width:100%;
    padding:10px;
    height:100%;
    box-sizing:border-box;
    padding:10px;
}
.left{
    width:auto;
    float:left;
    background: black;
    height:100%;
    border-style: double;
    border-width: 7px;
}
.right{
    width:35%;
    float:right;
    background: black;
    height:100%;
    border-style: double;
    border-width: 7px;
}

a:link {
  color: black;
  background-color: #bb3930;
  text-decoration: none;
}

a:hover {
  color: #bb3930;
  background-color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: #bb3930;
  text-decoration: none;
}